/* Default styles */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  gap: 1rem;
}

.container {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* <!-- checkbox section  --> */
:root {
  --color-orange: #ff5c00;
  --color-dark: #2a2a2a;

  --body-bg: #fff;
  --text-color: var(--color-dark);
  --border-color: var(var(--color-dark));

  /* for dark mode */
  --dark-bg: var(--color-dark);
  --dark-text-color: #fff;
  --dark-border-color: #fff;
}

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
  color: var(--text-color);
}

#darkMode {
  position: fixed;
  top: 6rem;
  left: 2rem;
  display: none;
}
.dark-mode-toggle {
  position: fixed;
  top: 6rem;
  left: 3rem;
}

/* dark more activation */
#darkMode:checked + .wrapper {
  background: var(--dark-bg);
  min-height: 100vh;
  color: var(--dark-text-color);
}

/* <!-- Header section  --> */
header {
  box-shadow: 0 0 10px 5px grey;
  position: sticky;
  top: 0;
}
.header {
  justify-content: space-between;
  align-items: center;
}

.logo {
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.logo > div:nth-child(1) h1 {
  font-size: 1.8rem;
}
.line {
  font-size: 1rem;
}

.line::before {
  content: "";
  width: 4px;
  height: 100%;
  left: 50%;
  background: var(--color-orange);
  position: absolute;
}

#check,
.menu-icon {
  display: none;
}

.navigation {
  list-style: none;
}

.navigation li a:hover {
  color: var(--color-orange);
  transition: all 0.5s;
}
/* <!-- hero section  --> */
.hero-section {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10rem;
}
.hero {
  background: var(--color-orange);
  padding: 2rem;
  display: grid;
  grid-template-areas: "left right";
}

.left {
  grid-area: left;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 10vw;
}

.left .name {
  font-size: 1.3rem;
  font-weight: bold;
}

.left .tag {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.left button {
  padding: 0.8rem 2rem;
  border: none;
  background: var(--color-dark);
  border-radius: 2rem;
  color: var(--body-bg);
  font-size: 1.1rem;
}

.right {
  grid-area: right;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
}

.right img {
  height: 115%;
}
/* <!-- Bannder section  --> */

/* <!-- Skills section  --> */

/* <!-- Projects section  --> */

/* <!-- About me section  --> */

/* <!-- Contact me section  --> */

/* <!-- footer section --> */
